/*
Estilos para exportar fuentes de letra*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

// Fuentes
$fuente1:  'Roboto', sans-serif;
$fuente2:  'Roboto', sans-serif;

$fuente3:  'Roboto', sans-serif;
$fuente-titulo-noticia:  'Roboto', sans-serif;