/*
Estilos para el contenedor de la sección Acerca de
@Francisco Enríquez*/

.contenedor-tv{
    @include grid(2, 0);
    margin: 2rem;

    /*
    Estilos para la imagen de la sección Acerca de
    @Francisco Enríquez*/

    img{
        height: 80rem;
        width: 56rem;
        object-fit: cover;
    }

    /*
    Estilo para el párrafo de la sección Acerca de
    @Francisco Enríquez*/

    p{
        font-size: 2.3rem;
    }

    /*
    Estilo para el subencabezado de la sección Acerca de
    @Francisco Enríquez*/

    h3{
        margin: -3rem 0 -2rem 0;
    }
}